.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  width: 250px;
  min-height: 200px;
  padding: 16px;

  border-radius: 12px;
  background-color: white;
  transition: all 0.3s ease;
}

/* 🔥 HOVER CARD */
.card:hover {
  transform: scale(1.05);
  background-color: #ffe4ec;
  border: 2px solid #ff4d6d;
}

/* TEXT */
.card-title {
  margin-bottom: 10px;
}

.card-body {
  flex: 1;
  font-size: 14px;
  color: #555;
}

/* BUTTON DEFAULT */
.card-button {
  margin-top: 10px;
  padding: 10px;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  background-color: gray;
  color: white;

  transition: all 0.3s ease;
}

/* BUTTON SUDAH DIKLIK */
.card-button.clicked {
  background-color: #ff4d6d; /* Special Red2 */
}

/* 🔥 HOVER BUTTON */
.card-button:hover {
  background-color: #999;
}

/* 🔥 HOVER BUTTON SAAT SUDAH DIKLIK */
.card-button.clicked:hover {
  background-color:#b83016;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}